@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: Inter, sans-serif;
    margin: 24px;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #FF5B24;
    padding: 8px 16px;
    border-radius: 10px;
    margin: 16px;
}